<nav>
  <div class="nav-wrapper container">
   <a href="#" class="brand-logo"><img alt="logo" src="../../assets/images/logo.jpeg"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/latest-news" routerLinkActive="active" >Latest news</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/article" routerLinkActive="active" >New Article</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/over" routerLinkActive="active" >Over</a></li>

    </ul>
  </div>
</nav>
